[submodule "device-class-db"]
	path = device-class-db
	url = https://github.com/DivineCooperation/bco.registry.device-class-db.git
[submodule "unit-template-db"]
	path = unit-template-db
	url = https://github.com/DivineCooperation/bco.registry.unit-template-db.git
